<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Protocolo PAWS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="{% static 'js/jquery-3.1.1.min.js'%}"></script>

</head>
<body>

<div class="container">
   <ul class="nav ">
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'main-index' %}"> <img src= "{% static 'centrotic.png' %}" alt="Imagen no encontrada" width=100px height=70px> </a>
  </li>
    <li class="nav-item">
    <a class="nav-link active" href="#">Mediciones Nariz Electronica</a>
  </li>
 {% if user.is_authenticated %}
    <li class="nav-item"> <a class="nav-link" href="{% url 'logout' %}">SALIR</a> </li>
    {% else %}
    <li class="nav-item"> <a class="nav-link" href="{% url 'login' %}"> INGRESAR</a></li>
    
    {% endif %}
 </ul>
</div>


    {% block body_block %}
    
    {% endblock  %}
</body>
</html>