{% extends "nariz_electronica/base.html" %}
{% load static %}
{% block body_block %}
<div class="container">
    <div class="jumbotron">
        <h1>Nariz Electronica</h1>
      </div>

<div class="row">

    <div class="col-sm">
    <h3>Nariz Electronica de la UIS</h3>
    {% lorem 3 %}
    </div>

    <div class="col-sm">
    <img class="img-thumbnail" src="{% static 'nariz_electronica.jpeg' %}" alt="imagen no encontrada" height=200px widht=300px>
    <img class="img-thumbnail" src="{% static 'nariz_electronica1.jpeg' %}" alt="imagen no encontrada" height=200px widht=300px>
    </div>



</div>
</div>
{% endblock  %}