<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>CENTROTIC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>


</head>
<body>

<div class="container">
<div class="jumbotron">
<h3> Proyectos </h3>
 <a class="nav-link active" href="{% url 'main-index' %}"> <img src= "{% static 'centrotic.png' %}" alt="Imagen no encontrada" width=150px height=120px> </a>    
</div>
<ul class="nav ">
    <li class="nav-item">
      <a class="nav-link active" href="{% url 'app_sensado:index' %}">Diplomado IoT</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'app_praes:index-praes'%}">PRAES</a>
    </li>
    <li class="nav-item"> <a class="nav-link" href="{% url 'paws:index-paws' %}">Proyecto PAWS</a>
  </li>
  <li class="nav-item"> <a class="nav-link" href="http://centrotic2uis.cloudapp.net:8080/sigripv/"> Sistemas GRIPV</a> </li>
   <li class="nav-item"> <a class="nav-link" href="{% url 'nariz_electronica:index-nariz' %}">Nariz Electronica</a> </li>
  
   {% if user.is_authenticated %}
    <li class="nav-item"> <a class="nav-link" href="{% url 'logout' %}">SALIR</a> </li>
    {% else %}
    <li class="nav-item"> <a class="nav-link" href="{% url 'login' %}"> INGRESAR</a></li>
    
    {% endif %}
  </ul>
  </ul>
</div>




    {% block body_block %}
    
    {% endblock  %}
  <br>  <br>   <br>
  <br>


   <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 footerleft ">
            <h4> <b>Proyectos de Investigación asociados al grupo de investigación Radiogis</b></h4>
            <p><i class="fa fa-map-pin"></i> Bucaramanga, Santander, Colombia</p>
            <p><i class="fa fa-phone"></i> PBX : (57) (7) 6344000 ext. 2373</p>
            <p><i class="fa fa-envelope"></i> E-mail : luismiguel@radiogis.uis.edu.co</p>
               {% if user.is_authenticated %}
               <h4> Solo Usuario Administrador </h4>
               <ul>
                 <li><a href="{% url 'app_praes:sensores-API' %}">Sensores API</a></li>
                 <li>                <a href="{% url 'app_praes:login' %}">Usuarios API</a>                 </li>
                 <li>                <a href="{% url 'app_praes:crear-usuario' %}">Crear Usuario</a>        </li>
                 <li>                <a href="{% url 'app_praes:documentacion' %}">Documentacion</a>        </li>
               </ul>
                
             {% else %}
              <a href="{% url 'admin:index' %}">Ingresar al sitio Administrador</a>
    
              {% endif %}


          </div>
            <h4 class="heading7">Productos</h4>
            <ul class="footer-ul">
              <li>Nariz Electrónica</li>
              <li>Desarrollo diplomado IOT</li>
              <li>Sistemas GRIPV</li>
              <li>Proyectos Ambientales Escolares (PRAES)</li>
              <li>Protocolo PAWS con SDR</li>

            </ul>
          </div>

        </div>
      </div>
</footer>
</body>
</html>