{% extends "paws/base.html" %}
{% load static %}
{% block body_block %}
<div class="container">
    <div class="jumbotron">
        <h1>Protocolo PAWS usando SDR</h1>
      </div>

<div class="row">

    <div class="col-9">
    <h3>Modelo general de la base de datos de PAWS</h3>
        <img src="{% static 'modelo-base-datos.png' %}" alt="imagen no encontrada" height="550px" width="800px">
    <h3> Modelo de comunicación del protocolo PAWS implementado</h3>
        <img src="{% static 'modelo_comunicacion.jpg' %}" alt="imagen no encontrada" height="450px" width="600px">

    </div>
    <div class="col-sm">
        {% lorem 3 %}
    </div>

</div>
</div>
{% endblock  %}